@page {
    size: A4;
    margin: 0;
}

body {
    margin: 0.5cm;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 9pt;
    line-height: 1.05;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.header {
    text-align: center;
    margin-bottom: 15px;
}

h1 {
    font-size: 22pt;
    margin: 0;
    color: #007bff;
    font-weight: 700;
}

.title {
    font-size: 12pt;
    color: #444;
    margin: 0;
    font-weight: 500;
}

.contact-info {
    margin-top: 0;
    font-size: 9pt;
}

.contact-item {
    margin: 0 5px;
    display: inline-block;
}

.contact-item a {
    color: #007bff;
    text-decoration: none;
}

.contact-item a:hover {
    text-decoration: underline;
}

.contact-item i {
    margin-right: 5px;
    vertical-align: middle;
}

.fab.fa-hackerrank {
    position: relative;
    top: 1px;
}

h2 {
    font-size: 12pt;
    border-bottom: 1px solid #ccc;
    padding-bottom: 2px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
}

.skills ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 5px;
}

.skills li {
    margin-bottom: 2px;
    padding-left: 1em;
    text-indent: -1em;
}

.skills li::before {
    content: "•";
    color: #000;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 0.8em;
}

.skills strong {
    font-weight: 700;
}

.job {
    margin-bottom: 10px;
}

.job-title {
    font-size: 11pt;
    font-weight: 800;
    margin: 0;
    margin-bottom: 0;
}

.job-details {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1px;
}

.company {
    font-size: 10pt;
    font-weight: 700;
    line-height: 1;
    color: #444;
}

.date-range {
    font-style: italic;
    color: #555;
    font-size: 9pt;
}

ul {
    padding-left: 15px;
    margin-top: 0;
    list-style-type: disc;
}

li {
    margin-bottom: 1px;
    line-height: 1;
}

.project {
    margin-bottom: 8px;
}

.project h3 {
    font-size: 11pt;
    font-weight: 800;
    margin-bottom: 2px;
}

.project p {
    margin: 0;
}

.education {
    margin-bottom: 8px;
}

.edu-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.edu-header h3 {
    font-size: 11pt;
    font-weight: 800;
    margin: 0;
}

.education p {
    margin: 0;
}
