body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 40px;
    color: #333;
    background-color: #f9f9f9;
    line-height: 1.1;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.header {
    text-align: center;
    margin-bottom: 15px;
}

h1 {
    font-size: 32px;
    margin: 0;
    color: #007bff;
    font-weight: 700;
}

.title {
    font-size: 18px;
    color: #444;
    margin: 0;
    font-weight: 500;
}

.contact-info {
    margin-top: 0;
    font-size: 12px;
}

.contact-item {
    margin: 0 8px;
    display: inline-block;
}

.contact-item a {
    color: #007bff;
    text-decoration: none;
}

.contact-item a:hover {
    text-decoration: underline;
}

.contact-item i {
    margin-right: 5px;
    vertical-align: middle;
}

.fab.fa-hackerrank {
    position: relative;
    top: 1px;
}

h2 {
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 3px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
}

.skills ul {
    list-style-type: disc;
    padding-left: 15px;
    margin-top: 5px;
}

.skills li {
    margin-bottom: 2px;
}

.skills strong {
    font-weight: 700;
}

.job {
    margin-bottom: 10px;
}

.job-title {
    font-size: 16px;
    font-weight: 800;
    margin: 0;
}

.job-details {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1px;
}

.company {
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    color: #444;
}

.date-range {
    font-style: italic;
    color: #555;
    font-size: 12px;
}

ul {
    padding-left: 15px;
    margin-top: 0;
    list-style-type: disc;
}

li {
    margin-bottom: 2px;
    font-size: 14px;
    line-height: 1;
}

.project {
    margin-bottom: 8px;
}

.project h3 {
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 3px;
}

.project p {
    margin: 0;
    font-size: 14px;
}

.education {
    margin-bottom: 8px;
}

.edu-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.edu-header h3 {
    font-size: 16px;
    font-weight: 800;
    margin: 0;
}

.education p {
    margin: 0;
    font-size: 14px;
}
